 <div class="header header-light dark-text">
	<div class="container">
		<nav id="navigation" class="navigation navigation-landscape">
			<div class="nav-header">
				<a class="nav-brand" href="#">
					<img src="/assets/img/logo.png" class="logo" alt="" />
				</a>
			</div>
			<div class="nav-menus-wrapper" style="transition-property: none;">
			</div>
		</nav>
	</div>
</div>